streamlit                                                 
pandas                                                      
altair                                                     
pyrebase                              
os  
